*{
    margin: 0px;
    text-align: center;
    padding: 0;
  }
  body{
    background-color: black;
    color: white;
  }
  button {
    width: 33%;
    color: white;
    background-color: orangered;
    border-radius: 30px;
    height: 100px;
  }
  button:hover{
    background-color:  white;
    color: blue;
    cursor: grab;
  }